<launch>
    <arg name="rviz" default="true"/>
    <arg name="camera_on_EE" default="true"/>

    <!-- Load Robot Model    -->
    <param name="robot_description"  command="$(find xacro)/xacro --inorder $(find franka_config)/urdf/model2.urdf"/>

    <!-- Launch GUI to drive joints   -->
    <param name="use_gui" value="true"/>
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />

    <!-- Launch robot state publisher -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher" />

    <!-- Insert transforms for cameras x y z yaw(z) pitch(y) roll(x)-->
    <node pkg="tf" type="static_transform_publisher" name="camera_tf_broadcaster"
        args="0.75 0.5 .75 2.7 0 -2.4 base_link camera 10" />

    <!-- Launch visualization -->
    <node if="$(arg rviz)" pkg="rviz" type="rviz" name="demo3_viz"
      args="-d $(find franka_config)/launch/franka.rviz" />


    <node name="sensor_sim" pkg="sensor_simulator_3d" type="sensor_simulator_3d"
         output="screen"/>

</launch>
